<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/images/cr.ico" rel="icon">

  <title>Home Page</title>

<link href="./static/main.d8e0d294.css" rel="stylesheet"></head>

<body class="">

<!-- Add your content of header -->
<div class="background-color-layer" style="background-image: url('./static/assets/images/cr99.jpg')"
></div>
<main class="content-wrapper">
  <header class="white-text-container section-container">
    <div class="text-center">
      <h1>I am Mohammed Osman</h1>
      <p>Web Developer And Content Writer</p>
      <p>
        <a class="fa-icon fa-icon-2x" target="_blank" href="https://www.facebook.com/profile.php?id=100066376995842" title="">
          <i class="fa fa-facebook"></i>
        </a>
        <a class="fa-icon fa-icon-2x" target="_blank" href="https://twitter.com/MohdOsman99?t=77BQVjRmlMoGgtGN9jZstQ&s=08" title="">
          <i class="fa fa-twitter"></i>
        </a>

        <a class="fa-icon fa-icon-2x" target="_blank" href="https://www.linkedin.com/in/mohammed-osman-0024a6237" title="">
          <i class="fa fa-linkedin"></i>
        </a>
        <a class="fa-icon fa-icon-2x" target="_blank" href="https://www.instagram.com/_faiziiiii_/" title="">
          <i class="fa fa-instagram"></i>
        </a>
      </p>
    </div>
  </header>



<!-- Add your site or app content here -->
 
 <div class="container">
   <div class="row">
     <div class="col-xs-12">

        <div class="card">
          <div class="card-block">
            <h2>About me</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="./static/assets/images/cr99.jpg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">

                <p>This is Mohammed Osman.Currently pursuing my bachelor's in computer science engineering from <a href="https://www.lords.ac.in/" target="_blank"><strong>Lords Institute Of Engineering And Technology</strong></a>.</p><br />
                <p>Completed my 12 from <strong>Sri Chaitanya Juniour College</strong> and and my 10 from <strong>Yara International School, Riyadh. </strong>.</p><br />
                <p>I am also working as a part time <strong>Content Writer, Blog Writer</strong>, and also as a <strong>Web Developer</strong>.
                  I enjoy <strong>Gaming </strong>and play video games on playstation.
                   I like to motivate other people, and I am a good orator with fluency in English language.</p><br />
                <p>I aspire to become an <strong>Entrepreneur</strong> and have an active role in my college's organisation cell.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Projects</h2>
            <div class="row">
              <div class="col-md-4">
                <img src="./static/assets/images/cs.jpg" class="img-responsive" alt="">
                <h3 class="h5">Freelancer Writer</h3>
                <p>Sep 2020</p>
              </div>
              <div class="col-md-4">
                <img src="./static/assets/images/wb.jpg" class="img-responsive" alt="">
                <h3 class="h5">Web Developer</h3>
                <p>June 2022</p>
              </div>
              <div class="col-md-4">
                <img src="./static/assets/images/gs.jpg" class="img-responsive" alt="">
                <h3 class="h5">Gaming</h3>
                <p>Jan 2022</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Work</h2>
            <div class="work-experience">
              <small class="date">2020-2021</small>
              <h3 class="h5 date-title"><a href="http://www.theenglishtree.in/" target="_blank" title="Created youtube channel on march 27 2018">Subject Trainer</a></h3>
              

              <p>Worked at an institution as an <strong>English language Trainer</strong> in various concepts of academics and practical knowledge</p>
            </div>

            <div class="work-experience">
              <small class="date">2021-2021</small>
              <h3 class="h5 date-title"><a href="./super.html" target="_blank" title="Content Writer">Blogger</a></h3>
              <p>I write blogging content related to pretty much any niche. Which includes product review, lifestyle, tech review, pet related articles and much more.</p>
            </div>
          </div>
        </div>
        

        <div class="card">
          <div class="card-block">
            <h2>Education</h2>
            <hr>
            <div class="row">
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2019-2023</small>
                  <h3 class="h5 date-title">Pursuing B.E </h3>
                  <p><i><a href="https://www.lords.ac.in/" target="_blank">Lords Institute Of Engineering and Technology</a></i></p>
                  <hr>
                </div>
              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2017-2019</small>
                  <h3 class="h5 date-title">Intermediate</h3>
                  <p><i>Sri Chaitanya Junior College</i></p>
                  <hr>
                </div>
              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2016-2017</small>
                  <h3 class="h5 date-title">SSC</h3>
                  <p><a href="https://www.yaraschool.net/" target="_blank"><i>Yara International School, Riyadh, Saudi Arabia</i></a></p>

                  <hr>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-block">
            <h2>Languages I know</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">English : <small> Fluent</small></h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">Arabic : <small> Intermediate</small></h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">Hindi : <small> Fluent</small></h3>
                </div>
              </div>
            </div>
          </div>
        </div>

<!--        <div class="card">-->
<!--          <div class="card-block">-->
<!--            <h2>Projects</h2>-->
<!--            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">-->
<!--            -->

<!--            &lt;!&ndash; Wrapper for slides &ndash;&gt;-->
<!--            <div class="carousel-inner" role="listbox">-->
<!--              <div class="item active">-->
<!--                <img src="./static/assets/images/sd.jpg" class="img-responsive" alt="...">-->
<!--                <div class="carousel-caption">-->
<!--                  <h3 class="h5"><a href="https://www.youtube.com/channel/UCTGRkUpWhN8eA7tMm6EDeWg">My Youtube Channel</a></h3>-->
<!--                  <p>2018</p>-->
<!--&lt;!&ndash;                  <p><a href="https://www.youtube.com/channel/UCTGRkUpWhN8eA7tMm6EDeWg">Click on this link to  Subscribe my Youtube Channel.</a></p>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="item">-->
<!--                <img src="./static/assets/images/css.jpg" class="img-responsive" alt="...">-->
<!--                <div class="carousel-caption">-->
<!--                  <h3 class="h5">Content Writer</h3>-->
<!--                  <p>2019</p>-->
<!--                  <p><a href="./super.html">Click on this link to the blog.</a></p>-->
<!--                </div>-->
<!--              </div>-->

<!--              <div class="item">-->
<!--                <img src="./static/assets/images/lrds.jpg" class="img-responsive" alt="...">-->
<!--                <div class="carousel-caption">-->
<!--                  <h3 class="h5">Lords-e-cell member : Entrepreneur</h3>-->
<!--                  <p>2020</p>-->
<!--                  <p><a href="https://www.linkedin.com/company/lordsecell/?originalSubdomain=in">Link for Lords-e-cell.</a></p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->

<!--            &lt;!&ndash; Indicators &ndash;&gt;-->
<!--            <ol class="carousel-indicators">-->
<!--              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>-->
<!--              <li data-target="#carousel-example-generic" data-slide-to="1"></li>-->
<!--              <li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
<!--            </ol>-->

<!--          </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        -->
<!--        <div class="card">-->
<!--          <div class="card-block">-->
<!--            <h2>Social Network</h2>-->
<!--            <div class="row">-->
<!--              <div class="col-md-3">-->
<!--                <p class="social-buttons"><a href=" https://twitter.com/Mazin28758506?s=08" title=""><span class="social-round-icon fa-icon"><i class="fa fa-twitter"></i></span>@Mazin</a></p>-->
<!--              </div>-->
<!--              <div class="col-md-3">-->
<!--                <p class="social-buttons"><a href="https://www.linkedin.com/in/mohammed-muzakkir-86394b1a1" title=""><span class="social-round-icon fa-icon"><i class="fa fa-linkedin"></i></span>Mohammed Muzakkkir</a></p>-->
<!--              </div>-->


<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

        <div class="card">
          <div class="card-block">
            <h2>Contact me</h2>
            <form action="submit_form" method="post" id="myform" class="reveal-content">
<!--              <div class="form-group">-->
<!--                <input name="name" type="name" class="form-control" id="name" placeholder="Your name">-->
<!--              </div>-->
              <div class="form-group">
                <input name="email" type="email" class="form-control" id="email" placeholder="Email : lordsmail099@gmail.com">
              </div>
              <div class="form-group">
<!--                <input name="Phone No" type="email" class="form-control" id="email" placeholder="Email">-->
                <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{4}-[0-9]{3}" placeholder="Phone No : 995-1829-637" class="form-control">
              </div>
              <div class="form-group">
                <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject">
              </div>
              <div class="form-group">
                <textarea name="message" class="form-control" rows="5" placeholder="Enter your message"></textarea>
              </div>
              <div class="form-group">
                <button type="submit" id="btn " class=" btn btn-primary">Send message</button>
              </div> 
            </form>
          </div>
        </div>
       
     </div>
   </div>
 </div>

</main>
<footer class="footer-container white-text-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        
        <p>©All right reserved. Designed By <a href="http://owais431.pythonanywhere.com/"  target="_blank" title="Create website with Mohammed Tanveer Owais.">Mohammed Tanveer Owais</a>/<a href="https://www.lords.ac.in/" title="Beautiful Free Images">Tanveer</a></p>
        <p>
          <a class="fa-icon fa-icon-2x" target="_blank" href="https://www.facebook.com/profile.php?id=100066376995842" title="">
            <i class="fa fa-facebook"></i>
          </a>
          <a class="fa-icon fa-icon-2x" target="_blank" href="https://twitter.com/MohdOsman99?t=77BQVjRmlMoGgtGN9jZstQ&s=08" title="">
            <i class="fa fa-twitter"></i>
          </a>
          <a class="fa-icon fa-icon-2x" target="_blank" href="https://www.linkedin.com/in/mohammed-osman-0024a6237" title="">
            <i class="fa fa-linkedin"></i>
          </a>
          <a class="fa-icon fa-icon-2x" target="_blank" href="https://www.instagram.com/_faiziiiii_/" title="">
            <i class="fa fa-instagram"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     scrollRevelation('.card');
  });
</script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--><script type="text/javascript" src="./static/main.bc58148c.js"></script>
<!--<script>-->
<!--  const form = document.getElementById('myform');-->

<!--form.addEventListener('submit', function handleSubmit(event) {-->
<!--  event.preventDefault();-->

<!--  // 👇️ Send data to server here-->

<!--  // 👇️ Reset form here-->
<!--  form.reset();-->
<!--});-->
<!--</script>-->

<script>
const btn1 = document.getElementById('email');
const btn2 = document.getElementById('phone');
const btn3 = document.getElementById('subject');
const btn4 = document.getElementById('message');

btn.addEventListener('click', function handleClick(event) {
  // 👇️ if you are submitting a form (prevents page reload)
  event.preventDefault();

  const firstNameInput = document.getElementById('email');
  const secondNameInput = document.getElementById('phone');
  const thirdNameInput = document.getElementById('subject');
  const fourthNameInput = document.getElementById('message');

  // Send value to server
  console.log(firstNameInput.value);
  console.log(secondNameInput.value);
  console.log(thirdNameInput.value);
  console.log(fourthNameInput.value);

  // 👇️ clear input field
  firstNameInput.value = '';
  secondNameInput.value = '';
  thirdNameInput.value = '';
  fourthNameInput.value = '';
});

</script>

</body>

</html>