<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Macbook Air vs Macbook pro</title>
	<link href="./static/assets/images/gms.ico" rel="icon">
    <style>
        body{
            background: #f0ec79;
        }
        h1, h2, h3{
            color: #fff;
            background: #f07979;
            font-display: underline;
        }
        p{
            font-weight: bold;
            font-family: sans-serif;
            background: #ec79f0;
        }
        
        footer{
            color: blanchedalmond;
            background: #52ce25;
        }
    </style>
</head>
<body>
<header>
		<h1>Welcome to my page.</h1>
	<div>
		<p>This is a sample of my content writing. </p>
	</div>
</header>

<main>
	<h1>Apple MacBook Air vs MacBook Pro: Which One is Better?</h1>
	<section>
			<p>In case you are wondering, which Macbook to buy. And which one is better? This guide is for you.

			 So if you are planning to buy a new laptop in 2020. And if its Apple you’re going for, you should absolutely go for it, why? Because Apple has some of the best laptops and computers in the market . They are fast, sleek and they are reliable. You can’t go wrong with that. Now, with the new 2020 update for the Macbook air and the Macbook Pro, where the Air has got some buff, and the Pro now comes in two variants, it can be a little confusing for the buyer. So in this article we’re gonna help you, make the right choice, so you can pick the one which suits your requirement, and also let you know the difference between them.

			Now, lets take a closer look at the reviews and a side by side comparision for both of these products.
			</p>
        
	</section>
<!--    <div><img src="C:/Users/moham/Desktop/mazin/static/assets/images/aps.jpg" width="300px" height="168" alt="apple macbook Image"></div>-->
				<section>
						<h2>What’s the new 2020 update?</h2>
			
						<h3>MacBook Air</h3>
						<p>The 2020 Macbook Air now features the new “Magic”keyboard  replacing the old Butterfly keyboard. Which features the residesigned scissor mechanism which delivers 1mm of key travel for comfort and stability while typing.

						CPU performance with 2x the speed, is also the new feature that Apple has introduced. Along with that, there is an 80 percent increase in graphical performance, for the more graphical intense work.

						The Macbook Air , also features 10th gen intel processor, while offering Quadcore processors for core i5, i7 and dual core processor for core i3.

						The storage capacity has also been doubled with minimum of 256gb and maximum 2TB of SSD storage. It also features Bluetooth 5.0, and a touch id as in the previous model.
						</p>
				</section>
	<section>
		<h3>MacBook Pro</h3> 
		<p>Let’s first, talk about the Macbook Pro 13in, and what new features you get.
		Same as the air, you get the Magic keybord replacing the old one. You also get Intels 10th gen Ice Lake processors for the high end variant.


		Storage capacity and RAM have doubled for the base price,with 256gb of SSD storage and 16gb of RAM. Apart from that, improvement in graphics we're also made with Intel Iris Plus graphics.
		 
		Minor tweaks like a dedicated escape button, T Arrow keys, and a physical touch ID button are also some of the features added in the new 13 inch Pro.
		</p>
	</section>
			   <section>
						<h3>MacBook Pro 16 inch</h3>
						<p>The 16-inch MacBook Pro has also got some improvements, like slightly bigger dimensions, from 0.61×13.75×9.48 inches to 0.64 ×14.09× 9.68. A weight increase of 0.28 pounds. A 16-inch display with 3072×1920 at 226 ppi with slightly thinnner bezels and the new Magic Keyboard. 
				  
						The Macbook now has the AMD Radeon 5500M customisable GPU with upto 8GB of GDDR6.
						Along with these tweaks, some minor changes like, a separate escape button, a physical Touch ID button, were made just like, in the 13 inch model . A more capable charger  and a reworked audio system was also added. 
						</p>
				</section>
	<section>
				<h2>Review</h2>
				<p>Overall, the Air is almost a perfect laptop, with the new upgrades its almost similar to the 13 inch pro but with a lower price. But with its positives, it also has its negatives.

				By replacing the old keyboard with the new Magic Keyboard, its sheer pleasure to write. Which is loved by the community, so if you are a writer, or if you just love to type on a keyboard, youre gonna have a good time.

				The Battery life is also great with almost 9 hours and 31 minutes, its decent enough for a days use. 
				  
				The lack of USB ports might become a problem for you, if you connect multiple devices to the laptop, as there only 2 ports. So you would have to invest in a dongle to meet your requirements.

				Get ready for loud fan noises when working a little longer as it tries to cool the heat of.
				Also the webcam still has the poor quality, which is quite annoying, for a lot of users.

				If you do a lot of graphic intense work, this might not be the best option for you, as it not powerful enough for those quick rendering times. But, other than than its great for general purposes.

				On the other hand, the 13 inch MacBook Pro is also great, with its compact size but compensating for the performance which lacks in the Air. 
				 
				With the additon of the new Keyboard, inverted T arrow keys and a dedicated escape button, the base variant Macbook pro has got only some minor revisions, with no changes to the internal specs. Although the high end variant has got major changes, so if you want more performance youll have to pay more.

				The trackpad is really great compared to many other laptops,with its fast and responsive feel.

				The 16 inch Macbook Pro has a completely different experience, with its beautiful display, new keyboard, powerful cpu, dedicated graphic card, and  excellent battery life, it has it all.  
				 
				The laptop is for people who know what their doing, you can expect it to deliver what you ask, but this comes  at a price and thats a pretty big amount. The 16 inch pro starts at 2399$ which is quite a lot for a laptop.
				Seeing there are many other laptops which can deliver the performance, but at a lower price.

				So now comes the question. Which one should you buy?
				</p>
	</section>
            	<section>
							<h2>Which one should you buy?</h2>
							 
							<p>when we  look at  these laptops, you might get some questions when deciding which one to buy, as we see the 13 inch Air, although lesser in price  lack some of the performance offered by the 13 inch pro but only if you go for the higher variant, but if you want to spend some money on performance why not just go for the 16 inch pro for more professional. To make it simple for you were gonna help you find your best pick for your requirement.

							If you are on a tight budget and you want a laptop for basic purposes like writing, browsing, office related work the best option is the MacBook Air, its great for students, small business owners, or even just for watching netflix.

							Although, if you have some money to spare for better performance, you should go for the 13 inch Macbook Pro as its suitable for the wide audience who have different requirements. Coding, basic editing, and every other task can be done seamlessly, its best for everyone.

							But, if you want to take a little step further with your work, the 16 inch Macbook is the ideal for Professionals, with its dedicated Graphic card, and  long battery life you can expect it to handle some graphic intense work. If you are ready to sacrifice some hefty amount and weight is not an issue for you, then this is the right pick for you.
							</p>
				</section>


</main>
<footer>
		<p>&copy; Copy right @ Mazin</p>
</footer>
</body>
</html>